<body>
    <div class="templatemo-logo visible-xs-block">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
            <h1 class="logo-left">Black</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
            <h1 class="logo-right">White</h1>
        </div>
    </div>
    <div class="templatemo-container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
            <h1 class="logo-left hidden-xs margin-bottom-60">Black</h1>
            <div class="tm-left-inner-container">
                <ul class="nav nav-stacked templatemo-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
                        <li>@Html.ActionLink("Scheduled Classes", "Index", "ScheduledClasses")</li>
                        <li>@Html.ActionLink("Students", "Index", "Students")</li>
                        <li>@Html.ActionLink("Student Statuses", "Index", "StudentStatus")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Scheduling"))
                    {
                    <li>@Html.ActionLink("Enrollments", "Index", "Enrollments")</li>
                    <li>@Html.ActionLink("Scheduled Classes", "Index", "ScheduledClasses")</li>
                    <li>@Html.ActionLink("Students", "Index", "Students")</li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div> <!-- left section -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
            <h1 class="logo-right hidden-xs margin-bottom-60">White</h1>
            <div class="tm-right-inner-container">
                <h1 class="templatemo-header">Homepage</h1>
                <img src="~/Content/images/Documentation.png" alt="Documentation Files" class="img-thumbnail">
                <h1 class="templatemo-header">Documentation</h1>
                <a href="~/Content/images/SAT Documentation.png" target="_blank">Documentation File</a>
                <footer>
                    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2084 Your Company Name <!-- Credit: www.templatemo.com --></p>
                    <p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social">
                        <a href="#"><i class="fa fa-facebook fa-medium"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-medium"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-medium"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-medium"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-medium"></i></a>
                    </p>
                </footer>
            </div>
        </div> <!-- right section -->
    </div>
</body>
